<h2>Login to your account</h2>

<nav>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
</nav>

<form method="post" action="/login">
  <label for="user[username]">Username</label>
  <input type="text" name="user[username]">

  <label for="user[password]">Password</label>
  <input type="text" name="user[password]">

  <input type="submit" value="Login">
</form>
