<h2>Register for the Tournament</h2>

<nav>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
</nav>

<form method="post" action="/users/new">
  <label for="user[username]">Username</label>
  <input type="text" name="user[username]">

  <label for="user[password]">Password</label>
  <input type="text" name="user[password]">

  <input type="submit" value="Register">
</form>
